@model ThreeLD.DB.Models.Event

@{
	Layout = ViewBag.Role != null
		? $"~/Views/{ViewBag.Role}/_Layout.cshtml"
		:  "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = $"{ViewBag.Action} an Event";
}

<h2>@ViewBag.Action an Event</h2>

<div>
	@Html.ValidationSummary(false)

	@using (Html.BeginForm())
	{
		<div class="form-group">
			<label>Name:</label>
			@Html.TextBoxFor(m => m.Name)
		</div>
		<div class="form-group">
			<label>Date and Time: </label>
			@Html.TextBoxFor(
				m => m.DateTime,
				"{0:yyyy-MM-ddTHH\\:mm\\:ss}",
				new {type = "datetime-local"})
		</div>
		<div class="form-group">
			<label>Duration: </label>
			@Html.TextBoxFor(m => m.Duration, "{0:hh\\:mm}")
		</div>
		<div class="form-group">
			<label>Address: </label>
			@Html.TextBoxFor(m => m.Address)
		</div>
		<div class="form-group">
			<label>URL: </label>
			@Html.TextBoxFor(m => m.Url)
		</div>
		<div class="form-group">
			<label>Description: </label>
			@Html.TextBoxFor(m => m.Description)
		</div>
		<div class="form-group">
			<label>Categories: </label>
			@Html.TextBoxFor(m => m.Category)
		</div>

		@Html.HiddenFor(m => m.Id)

		if (!String.IsNullOrEmpty(Model.ProposedBy))
		{
			Html.HiddenFor(m => m.ProposedBy);
		}

		<input type="submit" value="Submit" />
	}
</div>
