@model ThreeLD.Web.Models.ViewModels.LoginModel

@{
	ViewBag.Title = "Log In";
}

<h1>Log In</h1>

@Html.ValidationSummary()

@using (Html.BeginForm(new { returnUrl = ViewBag.ReturnURL }))
{
	@Html.AntiForgeryToken()
	<div class="form-group">
		<label>User Name</label>
		@Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
	</div>
    <br>
	<div class="form-group">
		<label>Password</label>
		@Html.PasswordFor(x => x.Password, new { @class = "form-control" })
	</div>
    <br>
	<button class="btn btn-primary" type="submit">Log In</button>

	@Html.ActionLink(
		"Cancel",
		"Index",
		"Home",
		null,
		new { @class = "btn btn-default" })
}
