@model SignUpModel

@{
	ViewBag.Title = Resources.SignUpTitle;
}

<h1>@Resources.SignUpHeader</h1>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
	<div class="form-group">
		@Html.LabelFor(m => m.UserName):
		@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.FirstName):
		@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.LastName):
		@Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Email):
		@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Password):
		@Html.PasswordFor(x => x.Password, new { @class = "form-control" })
	</div>

	<button type="submit" class="btn btn-primary">@Resources.SignUpText</button>

	@Html.ActionLink(
		Resources.CancelText,
		"Index",
		"Home",
		null,
		new { @class = "btn btn-default" })
}
