@model IEnumerable<ThreeLD.DB.Models.Event>

@{
    ViewBag.Title = "Proposed Events";
}

<h1>Proposed Events</h1>

<div>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th>Name</th>
			<th>Date and Time</th>
			<th>Duration</th>
			<th>Address</th>
			<th>Description</th>
			<th>Category</th>
			<th>URL</th>
			<th></th> 
		</tr>
		</thead>
		<tbody>
		@foreach (var e in Model)
		{
			<tr>
				<td>@e.Name</td>
				<td>@e.DateTime</td>
				<td>@e.Duration</td>
				<td>@e.Address</td>
				<td>@e.Description</td>
				<td>@e.Category</td>
				<td><a href="@e.Url" class="btn btn-link">Link</a></td>
                <td>
                    <div class="row">
                        <div class="col-xs-4">
                            @using (Html.BeginForm("ApproveEvent", "Editor"))
                            {
                                @Html.Hidden("id", e.Id)
                                <button type="submit" class="btn btn-link">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            }
                            </div>
                          <div class="col-xs-4">
                            @using (Html.BeginForm("DeleteEvent", "Editor"))
                            {
                                @Html.Hidden("id", e.Id)
                                <button type="submit" class="btn btn-link">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </div>
                        </div>
                </td>
			</tr>
		}
		</tbody>
	</table>
</div>
