@model ThreeLD.Web.Models.ViewModels.ViewEventsUserModel

@{
    ViewBag.Title = "View Events";
}

<h2>Events</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date and Time</th>
            <th>Duration</th>
            <th>Address</th>
            <th>Description</th>
            <th>Category</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.Events)
        {
            <tr>
                <td>@e.Key.Name</td>
                <td>@e.Key.DateTime</td>
                <td>@e.Key.Duration</td>
                <td>@e.Key.Address</td>
                <td>@e.Key.Description</td>
                <td>@e.Key.Category</td>
	            <td><a href="@e.Key.Url" class="btn btn-link">Link</a></td>
	            <td>
		            <div class="row">
			            <div class="col-xs-4">
				            @if (!e.Value)
				            {
					            using (Html.BeginForm(
						            "AddBookmark", "User", new { eventId = e.Key.Id }))
					            {
						            <button type="submit" class="btn btn-info">
							            <span class="glyphicon glyphicon-heart"></span>
						            </button>
					            }
				            } else
				            {
					            using (Html.BeginForm(
						            "RemoveBookmark", "User", new { eventId = e.Key.Id }))
					            {
						            <button type="submit" class="btn btn-info">
							            <span class="glyphicon glyphicon-heart-empty"></span>
						            </button>
					            }
				            }
			            </div>
			            <div class="col-xs-4">
				            @using (Html.BeginForm(
					            "DeleteEvent", "Editor", new { id = e.Key.Id }))
				            {
					            <button type="submit" class="btn btn-danger">
						            <span class="glyphicon glyphicon-remove"></span>
					            </button>
				            }
			            </div>
			            <div class="col-xs-4">
							@using (Html.BeginForm(
								"EditEvent", "Editor", new { id = e.Key.Id }))
							{
								<button type="submit" class="btn btn-link">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
							}
						</div>
		            </div>
				</td>
            </tr>
        }
    </tbody>
</table>
