@model AdminUsersModel

@{
	ViewBag.Title = Resources.UsersTitle;
	var dummy = new User();
}

<h1>@Resources.UsersHeader</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(m => dummy.UserName)</th>
			<th>@Html.DisplayNameFor(m => dummy.FirstName)</th>
			<th>@Html.DisplayNameFor(m => dummy.LastName)</th>
			<th>@Html.DisplayNameFor(m => dummy.Email)</th>
			<th>@Resources.ActionsText</th>
		</tr>
	</thead>
	@if (!Model.Users.Any())
	{
		<tr>
			<td colspan="5" class="text-center">
				@Resources.NoUserAccountsText
			</td>
		</tr>
	} else
	{
		foreach (var info in Model.Users)
		{
			<tr>
				<td>@info.Key.UserName</td>
				<td>@info.Key.FirstName</td>
				<td>@info.Key.LastName</td>
				<td>@info.Key.Email</td>
				<td>
					<div class="row">
						<div class="col-xs-6">
							@if (!Model.Admins.Contains(info.Key.Id))
							{
								if (!info.Value)
								{
									using (Html.BeginForm(
										"AssignEditor",
										"Admin",
										new {id = info.Key.Id}))
									{
										<button class="btn btn-link"
										        type="submit">
											@Resources.AssignEditorText
										</button>
									}
								} else
								{
									using (Html.BeginForm(
										"UnassignEditor",
										"Admin",
										new {id = info.Key.Id}))
									{
										<button class="btn btn-link"
										        type="submit">
											@Resources.UnassignEditorText
										</button>
									}
								}
							}
						</div>
						<div class="col-xs-6">
							@if (info.Key.Id != Model.CurrentUserId)
							{
								using (Html.BeginForm(
									"DeleteUser",
									"Admin",
									new { id = info.Key.Id }))
								{
                                    <button type="submit" class="btn btn-link">
	                                    <span class="glyphicon glyphicon-remove">
	                                    </span>
                                    </button>
                                }
                            }
						</div>
					</div>
				</td>
			</tr>
		}
	}
</table>
